* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.life-cycle-app {
  display: flex;
  flex-direction: column; /* вертикальное расположение: header, main, footer */
  min-height: 100vh;
  padding-left: 32px;
  padding-right: 32px;
}

.life-cycle-app main {
  flex: 1; /* ключевое свойство — занимает всё оставшееся пространство */
}

.life-cycle-app footer {
  flex-shrink: 0; /* чтобы не сжимался */
  margin-top: auto; /* дополнительная страховка */
}

li {
  list-style: none;
}

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
}
